/* Desarrollo Web 1 */
/* Nombre Práctica: Hola Mundo */
/* Autor/a: Manuel Antonio Lopez Martinez */
/* Fecha de elaboración: 07/02/2023 */

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mx{
    top: 30%;
    right: 50%;
    font-size: 200px;
    position: absolute;
    z-index: 25;
    -webkit-text-stroke: 1px white;
    color:#001219;
}
.us{
    top: 10%;
    left: 45%;
    font-size: 100px;
    position: absolute;
    z-index: 25;
    -webkit-text-stroke: 1px white;
    color:#005f73;
}
.jp{
    bottom: 20%;
    right: 10%;
    font-size: 180px;
    position: absolute;
    z-index: 25;
    -webkit-text-stroke: 1px white;
    color:#0a9396;
}
.it{
    top: 28%;
    right: 0%;
    font-size: 85px;
    position: absolute;
    z-index: 25;
    -webkit-text-stroke: 1px white;
    color:#94d2bd;
}
.hw{
    bottom: 10%;
    left: 45%;
    font-size: 75px;
    position: absolute;
    z-index: 25;
    -webkit-text-stroke: 1px white;
    color:#d00000;
}
.ru{
    bottom: 20%;
    right: 3%;
    font-size: 120px;
    position: absolute;
    z-index: 25;
    -webkit-text-stroke: 1px white;
    color:#ee9b00 ;
}
.ko{
    top: 0%;
    right: 10%;
    font-size: 100px;
    position: absolute;
    z-index: 25;
    -webkit-text-stroke: 1px white;
    color:#ca6702;
}
.po{
    bottom: 60%;
    right: 10%;
    font-size: 70px;
    position: absolute;
    z-index: 25;
    -webkit-text-stroke: 1px white;
    color:#ffba08;
}
.hi{
    bottom: 5%;
    right: 10%;
    font-size: 120px;
    position: absolute;
    z-index: 25;
    -webkit-text-stroke: 1px white;
    color:#bb3e03;
}
.he{
    bottom: 50%;
    right: 55%;
    font-size: 150px;
    position: absolute;
    z-index: 25;
    -webkit-text-stroke: 1px white;
    color:#ae2012 ;
}
.sw{
    bottom: 48%;
    right: 65%;
    font-size: 90px;
    position: absolute;
    z-index: 25;
    -webkit-text-stroke: 1px white;
    color:#9b2226;
}